.video{
    width: 314px;
    height: 272px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.video:hover{
    overflow: visible;
    border-radius: 14px 14px 20px 20px;
    background: #e7e6e6;
}

.video:hover >.video__heading,
.video:hover >.video__description{
    background: #e7e6e6;
    z-index: 1;
}

.video:hover >.video__description{
    border-radius: 0 0 20px 20px;
}

.image__wrapper{
    width: 100%;
    min-height: 177px;
    max-height: 177px;
    border-radius: 14px;
    overflow: hidden;
    position: relative;
}

.image{
    position: absolute;
    top: -30px;
    left: 0;
    width: 314px;
    height: 237px;
}

.image img{
    width: 100%;
    height: 100%;
}

.play{
    width: 34px;
    height: 34px;
    position: absolute;
    left: calc(50% - 17px);
    top: calc(50% - 17px);
}

.video__heading{
    width: 100%;
    margin-top: 10px;
    padding-bottom: 5px;
}

.video__description{
    width: 100%;
    color: #5B5B5B;
    text-align: center;
    padding-bottom: 10px;
}