.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 50px;
    transition: all ease-in-out .5s 0s;
}

.header.active{
    background: rgba(5, 0, 34, 0.2);
    filter: blur(20px);
    pointer-events: none;
}

.header__userLogo{
    display: flex;
    align-items: center;
}

.header__userLogo span{
    font-weight: 700;
}

.userLogo__img{
    width: 54px;
    height: 54px;
    border-radius: 27px;
    overflow: hidden;
    margin-right: 16px;
}

.userLogo__img img{
    width: 100%;
    height: 100%;
}