.footer{
    position: relative;
    text-align: center;
    height: 136px;
    width: 100%;
    background: #232323;
    padding-top: 50px;
    transition: all ease-in-out .5s 0s;
}

.footer.active{
    background: rgba(5, 0, 34, 0.2);
    filter: blur(20px);
    pointer-events: none;
}

.footer__logo{
    position: absolute;
    left: 50px;
    top: calc(50% - 16px);
}

.footer span{
    color: rgba(255, 255, 255, 0.2);
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
}

.social{
    display: flex;
    position: absolute;
    right: 50px;
    top: calc(50% - 15px);
    justify-content: space-between;
    align-items: center;
}

.social__item{
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 21px;
}

.social__item img{
    width: 100%;
    height: 100%;
}

.social__item a{
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (max-width: 800px) {
    .footer{
        padding-top: 90px;
    }
}

@media (max-width: 400px) {
    .social__item{
        margin: 0 10px;
    }
}