.form{
    width: 644px;
    padding: 90px;
    position: absolute;
    top: 57px;
    z-index: 1;
    left: calc(50% - 644px/2);
    background: #ffffff;
    border-radius: 20px;
    opacity: 0;
    transition: all ease-in-out .6s 0s;
}

.form__heading{
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
}

.form__footer{
    text-align: center;
}

.form__button{
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.form__buttons{
    display: flex;
    justify-content: space-between;
    margin: 20px 41px 6px;
}

.loadingBlock{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.loadingBlock div{
    width: 75px;
    height: 75px;
}

@media (max-width: 660px) {
    .form {
        width: 90%;
        padding: 20px;
        left: 5%;
    }

    .form__heading {
        flex-direction: column;
        align-items: center;
    }
    .form__buttons{
        flex-wrap: wrap;
    }
}

@media (max-width: 520px) {
    .form__buttons{
        flex-direction: column;
        align-items: center;
    }
    .form__buttons div{
        margin-bottom: 10px;
    }
}